.about--container {
  padding: 0 70px;
}

.about--heading {
  color: white;
  font-size: 20px;
  font-weight: 700;
  display: flex;
  align-items: center;
  max-width: 1050px;
}

.frontend-text,
.products-text {
  color: var(--accent-color);
}
.about--avatar {
  height: 310px;
  width: 310px;
  position: relative;
  top: -50px;
}
.about--main-text {
  color: white;
  font-size: 13px;
  margin-bottom: 15px;
}
.about--main-text h3 {
  font-weight: 700;
  margin-top: 20px;
}
.about--main-text p {
  margin-top: 10px;
  font-weight: 500;
}
@media (max-width: 857px) {
  .about--container {
    padding: 0 20px;
  }

  .about--heading {
    flex-direction: column;
  }
  .about--avatar {
    height: 290px;
    width: 290px;
    margin-bottom: -30px;
  }
}
