.main--container {
  padding: 0 90px;
}

.about--heading {
  color: white;
  font-size: 20px;
  font-weight: 700;
  display: flex;
  align-items: center;
  max-width: 1050px;
  margin-bottom: 30px;
}
.frontend-text,
.products-text {
  color: var(--accent-color);
}
.about--avatar {
  height: 310px;
  width: 310px;
}
.about--main-text {
  color: white;
  font-size: 13px;
  margin-bottom: 15px;
}
.about--main-text h3 {
  font-weight: 700;
  margin-top: 20px;
}
.about--main-text p {
  margin-top: 10px;
  font-weight: 500;
}
