.home--container {
  max-height: 100%;
}

.home--container section {
  display: flex;
  flex-direction: column;
  margin: auto;
  height: max-content;
  margin-top: 40px;
  justify-content: center;
  padding: 0px 30px;
}

.home--decal {
  align-self: center;
  background-color: #7f7f7f;
  width: max-content;
  color: white;
  padding: 8px 50px;
  word-spacing: 10px;
  border-radius: 38px;
  font-weight: 200;
  font-size: 20px;
}
.home--heading {
  font-size: 80px;
  font-weight: 800;

  align-self: center;
  margin-top: 20px;
}
.gradient {
  background: -webkit-linear-gradient(#ab4bd9, #69b9fd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.home--text {
  font-weight: 300;
  max-width: 800px;
  align-self: center;
  margin-top: 20px;
  font-size: 20px;
}
.home--buttons {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  gap: 20px;
}
.home--buttons button {
  width: 200px;
  height: 49px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.home--buttons button:nth-child(2) {
  background-color: #69b9fd;
  color: black;
}
.home--buttons button:nth-child(1) {
  background-color: #ab4bd9;
  color: white;
}

/* sale section */

.home--container .home--sale {
  background-color: #e6e6e6;
  width: 100vw;
  display: flex;
  align-items: center;
  padding-top: 60px;
  height: max-content;
  padding-bottom: 60px;
}
.sale-heading {
  margin-bottom: 20px;
}
.sale-content {
  display: flex;
  gap: 20px;
}
.sale-text {
  width: 240px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 17px;
}
.sale-text button {
  width: 160px;
  height: 44px;
  font-size: 16px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  background-color: #69b9fd;
  color: black;
  margin-top: 20px;
}
.sale-items {
  display: flex;
  gap: 20px;
}

/* audio guy */

.about-section {
  display: flex;
  flex-direction: row !important;
  justify-content: center;
  align-items: center;
  gap: 150px;
}
.about-section img {
  width: 340px;
  height: 417px;
  position: relative;
}
.about-image {
  position: relative;
}
.image-outline {
  width: 340px;
  height: 417px;
  background-color: #00000000;
  position: absolute;
  border: 1px solid #79b42f;
  top: 0;
  left: 30px;
  top: 30px;
  z-index: -1;
}
.about-text {
  max-width: 400px;
}
.about-text h4 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px;
}
.about-text p {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 20px;
}

.affiliates {
  display: flex;
  flex-direction: row !important;
  align-items: center;
  width: 80vw !important;
  gap: 50px;
  height: 20vh !important;
}
.affiliates > img {
  height: 50px;
  width: auto;
}
@media (max-width: 1366px) {
  .sale-content {
    flex-direction: column-reverse;
    align-items: center;
  }
  .sale-text {
    width: 100%;
    text-align: center;
    align-items: center;
    margin-top: 10px;
  }
}
@media (max-width: 720px) {
  .home--container h1 {
    text-align: center;
  }
  .home--text {
    text-align: center;
  }
}

@media (max-width: 570px) {
  .home--container h1 {
    font-size: 13vw;
  }

  .home--buttons button {
    flex: 1;
  }
}
