footer {
  color: white;
  font-weight: 400;
  font-size: 12px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
footer > * {
  flex: 1;
  z-index: 200;
}
footer > *:last-child {
  text-align: right;
}
footer > *:nth-child(2) {
  display: flex;
  justify-content: center;
}
.footer--icons {
  font-size: 1.3rem;
  display: flex;
  gap: 1rem;
}

footer a {
  color: white;
}
