header {
  display: grid;
  position: relative;
  z-index: 999;
}
.logo img {
  width: 120px;
  height: auto;
}
.logo {
  flex: 1;
}
.aphex-logo {
  position: absolute;
  width: 270px;
  height: auto;
  bottom: -44px;
  left: 6%;
}
.desktop--header {
  place-content: center;
}
nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin-top: 20px;
  width: 80vw;
}
.fa-magnifying-glass {
  font-size: 1.3rem;
}
.free-beats {
  font-size: 1rem;
  font-weight: 600;
  color: white;
  background-color: #ab4bd9;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}
nav ul a {
  text-decoration: none;
  font-weight: 400;
  color: black;
}

nav ul li {
  position: relative;
  flex: 1;
  text-align: center;
}

.mobile--h1 {
  text-align: center;
  font-size: 16px;
  font-weight: 700;
}
.fa-cart-shopping {
  font-size: 1.6rem;
  color: black;
  cursor: pointer;
}
.cart-icon {
  flex: 0.5;
  position: relative;
}
.cart-qty {
  position: absolute;
  top: 12px;
  right: 27px;
  background-color: #ab4bd9;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* --------------------- Mobile Nav --------------------- */

.bm-burger-button {
  position: absolute;
  width: 19px;
  height: 16px;
  left: 17px;
  top: 22px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: black;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: transparent;
}

/*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
.bm-menu-wrap {
  position: absolute;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: rgb(0, 0, 0);
  background: lightgray;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding-top: 60px;
}

/* Individual item */
.bm-item {
  display: flex !important;
  flex-direction: column;
  gap: 1.8rem;
}
.bm-item a {
  font-size: 1.6rem;
  border-bottom: 1px solid black;
  color: black;
}
.bm-item a::before {
  left: -17px;
  top: -2px;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

@media (min-width: 720px) {
  nav ul a:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
}
