header {
  background: rgb(0, 0, 0);
  background: var(--black-gradient);
  display: grid;
  border-bottom: 1px solid rgb(29, 29, 29);
  position: relative;
  z-index: 999;
}
.desktop--header {
  place-content: center;
}
nav ul {
  display: flex;
  justify-content: center;
  padding-left: 25px;
  gap: 5rem;
  list-style: none;
}

nav ul a {
  text-decoration: none;
  color: white;
  font-weight: 500;
}
nav ul li {
  position: relative;
}
.nav--selected a::before {
  content: "• ";
  color: var(--accent-color);
  left: -10px;
  top: 1px;
  position: absolute;
}
.mobile--h1 {
  text-align: center;
  color: white;
  font-size: 16px;
  font-weight: 700;
}
/* --------------------- Mobile Nav --------------------- */

.bm-burger-button {
  position: absolute;
  width: 19px;
  height: 16px;
  left: 17px;
  top: 22px;
}
/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: white;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: transparent;
}

/*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
.bm-menu-wrap {
  position: absolute;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 13%,
    rgba(74, 74, 74, 1) 100%
  );
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding-top: 60px;
}

/* Individual item */
.bm-item {
  display: flex !important;
  flex-direction: column;
  gap: 1.8rem;
}
.bm-item a {
  font-size: 1.6rem;
  border-bottom: 1px solid white;
}
.bm-item a::before {
  left: -14px;
  top: -2px;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
